<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.seeknresolve.android">

    <application
        android:name=".SeekNResolveAndroid"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".ui.LogInActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ProjectListActivity"
            android:parentActivityName=".ui.LogInActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.LogInActivity" />
        </activity>

        <activity
            android:name=".ui.ProjectBugListActivity"
            android:parentActivityName=".ui.ProjectListActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ProjectListActivity" />
        </activity>

    </application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
